- content_for :head do
  %title Pure Energy | Biofuel
  %meta{content: "Biofuel is a form of clean, renewable energy produced from living organisms. Examples include ethanol and butanol, or anything that is 80% renewable.", name: "description"}/
#firstPage.section
  .intro
    = image_tag("biofuel.jpg", :class => "displayimage")
#secondPage.section.active
  .procon
    %h1.header Advantages and Disadvantages
    #pro
      %h1 Pro
      .procons
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Easy To Start
        .word-wrap
          %p.detailtext
            Switching to biofuel is an easy transition that does not require a special apparatus. Just fill up your existing car, truck, or home oil tank.
      .procons
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline No Global Warming
        .word-wrap
          %p.detailtext
            Ethanol and biodiesel emit back to the environment only the carbon dioxide that their source plants absorbed in the first place. Also, less air pollutants and greenhouse gas will be released into the environment.
      .procons
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Cheap Feedstocks
        .word-wrap
          %p.detailtext
            The production process can convert used oils, greases, and fats into a useable fueling product. Used cooking oil and greases can be obtained inexpensively or free because they often have no other uses.
      .procons
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Biodegradable
        .word-wrap
          %p.detailtext
            Biodiesel is non-toxic and biodegradeable. Any spillage in the production or tranportation process will have a far smaller environmental impact compared to a petroleum spill.
    #con
      %h1 Con
      .procons
        = image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Reduced Efficiency
        .word-wrap
          %p.detailtext
            Many producers have been unable to create biodiesel that meets ASTM 6751 quality due primarily to their inability to remove all impurities and water during the washing and refining processes. The EPA found that the use of B20 can reduce fuel efficiency by 1-2%.
      .procons
        = image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Expensive
        .word-wrap
          %p.detailtext
            B100 and other diesel/biodiesel blends are more expensive to consumers than #2 diesel. This is a result of the rapidly rising feedstock   and conversion problems of producers.
#thirdPage.section
  .text
    %h1.header Grants
    %h2 Advanced Biofuel Production Grants and Loan Guarantees
    %p
      The Biorefinery Assistance Program (Section 9003) provides loan guarantees for the development, construction, and retrofitting of commercial-scale biorefineries that produce advanced biofuels. Grants for demonstration scale biorefineries are also available. Advanced biofuel is defined as fuel derived from renewable biomass other than corn kernel starch. Eligible applicants include, but are not limited to, individuals, state or local governments, farm cooperatives, national laboratories, institutions of higher education, and rural electric cooperatives. The maximum loan guarantee is $250 million and the maximum grant funding is 50% of project costs. Funding for this program is subject to congressional appropriations through fiscal year 2013. For more information, see the
      %a{href: "http://www.rurdev.usda.gov/BCP_Biorefinery.html"}Biorefinery Assistance Program website.
      (Reference Public Law 112-240 and 7 U.S. Code 8103)
#fourthPage.section
  %h1.header Videos
  %iframe.video{src: "//www.youtube-nocookie.com/embed/pL-M2IzYGuU?rel=0",allowfullscreen: ""}
  .video-description
    %p This video walks through the steps of making biodiesel at home, allowing you to drive your car at $0.75 per gallon.
#fifthPage.section{:style => "background-color: #058639;"}
  %h1.header{:style => "color: white; margin-bottom: 25px;"} Cost of Installation
  -#= image_tag "biofuel-cost.png", :class => "displayimage"
  -#= image_tag "biodiesel-cost.png", :class => "displayimage"
  = image_tag "biofuel-graph-2.jpg", :class => "tiled windinfo"
  = image_tag "biofuel-graph-3.jpg", :class => "tiled windinfo"
  = image_tag "biofuel-graph-4.jpg", :class => "tiled windinfo"
  = image_tag "biofuel-graph-5.jpg", :class => "tiled windinfo"

= render "scrolltotop"
