- @title="Pure Energy | Biofuel"
- @meta="renewable energy, biofuel energy, ethanol, green fuel, biodiesel"
#firstPage.section{style: "background-color: #333333"}
  .intro
    = image_tag("biofuel-1.png", :class => "tiled windinfo", :alt => "Biofuel Renewable Energy Resource Infographic")
    = image_tag("biofuel-2.png", :class => "tiled windinfo", :alt => "Biofuel Renewable Energy Resource Infographic")
    = image_tag("biofuel-3.png", :class => "tiled windinfo", :alt => "Biofuel Renewable Energy Resource Infographic")
    = image_tag("biofuel-4.png", :class => "tiled windinfo", :alt => "Biofuel Renewable Energy Resource Infographic")
    = image_tag("biofuel-5.png", :class => "tiled windinfo", :alt => "Biofuel Renewable Energy Resource Infographic")
#secondPage.section.active
  %h1.header Advantages and Disadvantages
  #pro
    .f-col-wrapper
      .col.f-col1
        .icon-wrap
          %h3 Easy To Start
        .col-content.equal-height
          %p Switching to biofuel is an easy transition that does not require a special apparatus. Just fill up your existing car, truck, or home oil tank.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Less Gases
        .col-content.equal-height
          %p Ethanol emits the carbon dioxide that their source plants absorbed in the first place. Also, less greenhouse gases will be released into the environment.
    .f-col-wrapper
      .col.f-col3
        .icon-wrap
          %h3 Cheap Oils
        .col-content.equal-height
          %p The production process can convert used oils, which can be easily obtained due to its limited purpose, into a useable fueling product.
    .f-col-wrapper
      .col.f-col4
        .icon-wrap
          %h3 Biodegradable
        .col-content.equal-height
          %p Any spillage in the production/transportation process will have a smaller environmental impact compared to a petroleum spill.
  #con
    .f-col-wrapper
      .col.f-col1
        .icon-wrap
          %h3 Less Efficient
        .col-content.equal-height
          %p The EPA found that the use of B20 can reduce fuel efficiency by 1-2%.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Expensive
        .col-content.equal-height
          %p B100 and other biodiesel blends are more expensive to consumers than #2 diesel. This is a result of the rapidly rising feedstock.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Regional Suitability
        .col-content.equal-height
          %p Certain crops will grow better in specific regions, while other regions may not support a certain crop at all.
#thirdPage.section
  .text
    %h1.header Grants
    %h2 Advanced Biofuel Production Grants and Loan Guarantees
    %p
      The Biorefinery Assistance Program (Section 9003) provides loan guarantees for the development, construction, and retrofitting of commercial-scale biorefineries that produce advanced biofuels. Grants for demonstration scale biorefineries are also available. Advanced biofuel is defined as fuel derived from renewable biomass other than corn kernel starch. Eligible applicants include, but are not limited to, individuals, state or local governments, farm cooperatives, national laboratories, institutions of higher education, and rural electric cooperatives. The maximum loan guarantee is $250 million and the maximum grant funding is 50% of project costs. Funding for this program is subject to congressional appropriations through fiscal year 2013. For more information, see the
      %a{href: "http://www.rurdev.usda.gov/BCP_Biorefinery.html"}Biorefinery Assistance Program website.
      (Reference Public Law 112-240 and 7 U.S. Code 8103)
#fourthPage.section
  %h1.header Videos
  %iframe.video{src: "//www.youtube-nocookie.com/embed/pL-M2IzYGuU?rel=0",allowfullscreen: ""}
  .video-description
    %p This video walks through the steps of making biodiesel at home, allowing you to drive your car at $0.75 per gallon.
  %iframe.video{src: "//www.youtube-nocookie.com/embed/iTzYn4JBlbw?rel=0",allowfullscreen: ""}
  .video-description
    %p Follow along as a local FFA chapter produces biofuel with a SweetHome BioFuels BA 100.
  %iframe.video{src: "//www.youtube-nocookie.com/embed/kdYCFzp048I?rel=0",allowfullscreen: ""}
  .video-description
    %p The guys at Blue Ridge Biofuels show homeowners how easy it is to switch to biodiesel for home heating. The video also shows instances of homeowners using biodiesel from oil from restaurants in their own homes.
#fifthPage.section{:style => "background-color: #058639;"}
  %h1.header{:style => "color: white; margin-bottom: 25px;"} Cost of Installation
  = image_tag "biofuel-graph-1.jpg", :class => "tiled windinfo", :alt => "Biofuel Cost of Installation Infographic"
  = image_tag "biofuel-graph-2.jpg", :class => "tiled windinfo", :alt => "Biofuel Cost of Installation Infographic"
  = image_tag "biofuel-graph-3.jpg", :class => "tiled windinfo", :alt => "Biofuel Cost of Installation Infographic"
  = image_tag "biofuel-graph-4.jpg", :class => "tiled windinfo", :alt => "Biofuel Cost of Installation Infographic"
