- @title="Pure Energy | Biofuel"
- @meta="renewable energy, biofuel energy, ethanol, green fuel, biodiesel"
#firstPage.section{style: "background-color: #333333"}
  .intro
    = image_tag("biofuel-1.png", :class => "tiled windinfo", :alt => "Biofuel Renewable Energy Resource Infographic")
    = image_tag("biofuel-2.png", :class => "tiled windinfo", :alt => "Biofuel Renewable Energy Resource Infographic")
    = image_tag("biofuel-3.png", :class => "tiled windinfo", :alt => "Biofuel Renewable Energy Resource Infographic")
    = image_tag("biofuel-4.png", :class => "tiled windinfo", :alt => "Biofuel Renewable Energy Resource Infographic")
    = image_tag("biofuel-5.png", :class => "tiled windinfo", :alt => "Biofuel Renewable Energy Resource Infographic")
#secondPage.section.active
  %h1.header Advantages and Disadvantages
  #pro
    .f-col-wrapper
      .col.f-col1
        .icon-wrap
          %h3 Easy To Start
        .col-content.equal-height
          %p Switching to biofuel is an easy transition that does not require a special apparatus. Just fill up your existing car, truck, or home oil tank.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Less Gases
        .col-content.equal-height
          %p Ethanol emits the carbon dioxide that their source plants absorbed in the first place. Also, less greenhouse gases will be released into the environment.
    .f-col-wrapper
      .col.f-col3
        .icon-wrap
          %h3 Cheap Oils
        .col-content.equal-height
          %p The production process can convert used oils, which can be easily obtained due to its limited purpose, into a useable fueling product.
    .f-col-wrapper
      .col.f-col4
        .icon-wrap
          %h3 Biodegradable
        .col-content.equal-height
          %p Any spillage in the production/transportation process will have a smaller environmental impact compared to a petroleum spill.
  #con
    .f-col-wrapper
      .col.f-col1
        .icon-wrap
          %h3 Less Efficient
        .col-content.equal-height
          %p The EPA found that the use of B20 can reduce fuel efficiency by 1-2%.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Expensive
        .col-content.equal-height
          %p B100 and other biodiesel blends are more expensive to consumers than #2 diesel. This is a result of the rapidly rising feedstock.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Regional Suitability
        .col-content.equal-height
          %p Certain crops will grow better in specific regions, while other regions may not support a certain crop at all.
#thirdPage.section
  .text
    %h1.header Grants
    %h2 Advanced Biofuel Production Grants and Loan Guarantees
    %p
      The Biorefinery Assistance Program (Section 9003) provides loan guarantees for the development, construction, and retrofitting of commercial-scale biorefineries that produce advanced biofuels. Grants for demonstration scale biorefineries are also available. Advanced biofuel is defined as fuel derived from renewable biomass other than corn kernel starch. Eligible applicants include, but are not limited to, individuals, state or local governments, farm cooperatives, national laboratories, institutions of higher education, and rural electric cooperatives. The maximum loan guarantee is $250 million and the maximum grant funding is 50% of project costs. Funding for this program is subject to congressional appropriations through fiscal year 2013. For more information, see the
      %a{href: "http://www.rurdev.usda.gov/BCP_Biorefinery.html"}Biorefinery Assistance Program website.
      (Reference Public Law 112-240 and 7 U.S. Code 8103)
    %h2 ecoENERGY for Biofuels
    %p
      The ecoENERGY for Biofuels program supports the production of renewable alternatives to gasoline and diesel and encourages the development of a competitive domestic industry for renewable fuels. The program provides an operating incentive to facilities that produce renewable alternatives to gasoline and diesel in Canada.   ecoENERGY for Biofuels will invest up to $1.5 billion over nine years in support of biofuel production in Canada. Administered by Natural Resources Canada, the ecoENERGY for Biofuels program runs from April 1, 2008 to March 31, 2017. Recipients will be entitled to receive incentives for up to seven consecutive years.
    %h2 Fuel Cell Technologies and Biomass Projects
    %p
      The U.S. Department of Energy's Golden Field Office offers grants for biodiesel research and development through the Fuel Cell Technologies and Biomass FY2010 Energy and Water Appropriations Act, Research, Development and Demonstration Projects. Grants fund projects that research, develop or demonstrate innovative and effective methods of producing for biodiesel fuels from low-impact crops that require less input of fertilizers, pesticides and water and that are not edible by humans. Proposals must include descriptions of the potential commercial replicability and applications of the research, according to the grant guidelines. Grants range up to $500,000 over a two-year period.
    %h2 Small Business Innovation Research Program
    %p
      The U.S. Department of Agriculture's National Institute of Food and Agriculture offers biodiesel grants through the Small Business Innovation Research Program. Grants fund research projects that address issues including climate change and sustainable bioenergy, with a focus on energy efficiency and alternative, renewable energy sources. According to the grant guidelines, preference is given to proposals that include "improved methods for producing biofuels, such as ethanol, butanol and biodiesel, producing hydrogen and other fuel gases from agricultural waste." Businesses with a scientific focus and less than 500 employees are eligible to apply. Grants range from $100,000 to $500,000.
#fourthPage.section
  %h1.header Videos
  %iframe.video{src: "//www.youtube-nocookie.com/embed/pL-M2IzYGuU?rel=0&showinfo=0&autohide=1",allowfullscreen: ""}
  .video-description
    %p This video walks through the steps of making biodiesel at home, allowing you to drive your car at $0.75 per gallon.
  %iframe.video{src: "//www.youtube-nocookie.com/embed/iTzYn4JBlbw?rel=0&showinfo=0&autohide=1",allowfullscreen: ""}
  .video-description
    %p Follow along as a local FFA chapter produces biofuel with a SweetHome BioFuels BA 100.
  %iframe.video{src: "//www.youtube-nocookie.com/embed/kdYCFzp048I?rel=0&showinfo=0&autohide=1",allowfullscreen: ""}
  .video-description
    %p The guys at Blue Ridge Biofuels show homeowners how easy it is to switch to biodiesel for home heating. The video also shows instances of homeowners using biodiesel from oil from restaurants in their own homes.
#fifthPage.section{:style => "background-color: #058639;"}
  %h1.header{:style => "color: white; margin-bottom: 25px;"} Cost of Installation
  = image_tag "biofuel-graph-1.png", :class => "tiled windinfo bio", :alt => "Biofuel Cost of Installation Infographic"
  = image_tag "biofuel-graph-2.png", :class => "tiled windinfo bio", :alt => "Biofuel Cost of Installation Infographic"
  = image_tag "biofuel-graph-3.png", :class => "tiled windinfo bio", :alt => "Biofuel Cost of Installation Infographic"
  = image_tag "biofuel-graph-4.png", :class => "tiled windinfo bio", :alt => "Biofuel Cost of Installation Infographic"
