- content_for :head do
  %title Pure Energy | Biomass
  %meta{content: "Biomass is a collective term for renewable, clean energy from plant and animal material.", name: "description"}/
#firstPage.section{style: "background-color: #95C94D;"}
  .intro
    = image_tag("biomass infographic.jpg", :class => "displayimage")
#secondPage.section
  .procon
    %h1.header Advantages and Disadvantages
    #pro
      %h1 Pros
      .procons
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Renewable
        .word-wrap
          %p.detailtext
            A new crop of potential energy grows as you are reaping the rewards of the first one.
      .procons
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Clean
        .word-wrap
          %p.detailtext
            Since it’s part of the carbon cycle, photosynthesis takes care of any excess pollutants. No pollutants = No global warming
      .procons
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Cost-Effective
        .word-wrap
          %p.detailtext
            Biomass costs ⅓ less than energy from fossil fuels, so with time these savings will add up.
      .procons
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Abundant
        .word-wrap
          %p.detailtext
            Biomass is already available all over the world, so its convenient for almost everybody.
    #con{style: "height: 50%;"}
      %h1 Cons
      .procons
        = image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Expensive
        .word-wrap
          %p.detailtext
            Harvesting and storing biomass may be too expensive for the process to be worthwhile.
      .procons
        = image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Space
        .word-wrap
          %p.detailtext
            Harnessing and storing the energy requires large spaces that may be impractical for some locations.
#thirdPage.section
  .text
    %h1.header Grants
    %h2 Biomass Research and Development Initiative
    %p
      The U.S. Department of Agriculture (USDA) funds biomass research, in part, through competitive grant programs. The Biomass Research and Development Initiative (BRDI) is a major source of grant funding for biomass research. Funds awarded under this program may be used for biomass research costs and the development of new biomass technologies, methods or capabilities. The grant program is a part of the federal government's numerous initiatives to develop more local sources of energy, including the use of American forest or farm products to meet our energy needs. Eligible entities for funding under this grant program include federal, state and local governments, private businesses, non-profits and research institutions.
    %h2 Cooperative Forestry Research Program
    %p
      The USDA also funds biomass projects through its Cooperative Forestry Research Program. Unlike the BRDI, this program is not specifically directed at biomass research. Instead, the Cooperative Forestry Research program funds a number of programs related to developing innovative ways to use forest products, including timber biomass. These funds are primarily awarded to state agencies, which then secure projects based on their local needs and priorities. The USDA also consults with local forestry institutions---such as state universities---before awarding grants. These institutions are the primary targets of grant awards in this particular program.
    %h2 Community Wood Energy Program
    %p
      The Community Wood Energy Program is a USDA biomass grant that helps potential biomass energy consumers expand or purchase a community biomass system. These systems might include a heating system shared by multiple homes and apartments or an electric generation system that is powered by wood biomass. In addition to grant funding, technical assistance is also available from the USDA through this program to help with the installation and development of a local wood energy system. Applicants must be able to match the award with non-federal funds for at least 50 percent of the total project costs. Eligible applicants include state, local and tribal agencies.
#fourthPage.section
  %h1.header Videos
  %iframe.video{allowfullscreen: "", height: "360", src: "//www.youtube-nocookie.com/embed/fpHFZvxUvZ8?rel=0", width: "640"}
  .video-description
    %p The video provides abundant information on the benefits and prime locations regarding the installation of biomass in your home.
#fifthPage.section
  %h1.header Cost for Installation
  /Biomass Boiler
  /Thermal buffer
  /Fuel Storage
  /Emissions
  /Chimney
  %h1.cost-header Biomass Installation Approximation
  %p.cost-text The biomass boiler size calculator will give you an idea into the size of boiler you will need. Please note that the figures are approximate and we would always recommend that you request an on-site assessment before deciding on the right solution for you.
  %table.averagecost#biomasstable
    %tr
      %td
      %td Size 1
      %td Size 2
      %td Size 3
    %tr
      %td Floor Area m&sup2
      %td 800
      %td 2500
      %td 5000
    %tr
      %td Boiler Size
      %td 70 kW
      %td 200 kW
      %td 400 kW
    %tr
      %td Capital Cost
      %td $68000
      %td $163200
      %td $272000
    %tr
      %td Oil Cost
      %td $12517.44
      %td $35762.56
      %td $71526.48
    %tr
      %td Pellet Cost
      %td $7140
      %td $20400
      %td $40800
    %tr
      %td Renewable Heat Incentive
      %td $11754.48
      %td $33583.84
      %td $51000.00
