<div class="section" id="first">
	<h1>Biomass</h1>
</div>
<div class="section" id="firstPage">
	<div class="intro"><h1 class="header">Infographic</h1>
			<%= image_tag("biomass-infographic.png" , :class => "displayimage") %>
	</div>
</div>
<div class="section active" id="secondPage">
	<div class="procon"><h1 class="header">Advantages and Disadvantages</h1>
		<table>
			<tr>
				<th>Pros</th>
				<th>Cons</th>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Renewable</p>
						<div class="word-wrap">
							<p class="detailtext">
							 As you convert this year’s crop to fuel, you are growing another one for next years fuel. Renewing takes just as long time as it takes to grow or gather, and that can be as little as months in some cases.
							</p>
						</div>
					</div>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Expensive</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Extraction of biomasses can be expensive. In some areas biomass projects may not be worth the price and is therefore never finished. This is also true for the harvesting and storing of the different types of biomass.
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Clean</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Biomass is a part of the carbon cycle. Carbon from the atmosphere is absorbed into plants during photosynthesis and when the plant decays or is burnt that carbon goes back into the atmosphere. Because it is a cycle, the next crop of plants absorb that carbon over again, so there is a balance between the amount of carbon that the biomass fuel release into the atmosphere and the amount that they extract from it. This is why biomass fuels do not contribute to global warming.
							</p>
						</div>
					</div>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Space</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Big areas are needed for all the different processes required to harness energy from biomass. The areas that are needed for storing can be large.
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Cost-Effective</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Energy harnessed from biomass is inexpensive compared to coal and oil. Typically they cost about a third less than fossil fuels doing the same job. This means you can spend a third less every year on heating your home and after 10 or 15 years that adds up for some considerable savings.
							</p>
						</div>
					</div>
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Abundant</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Biomass is available in large quantities all over the world. Large pipelines across country borders and oceans are therefore most likely not necessary.
							</p>
						</div>
					</div>
				</td>
				<td>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="section" id="thirdPage">
	<div class="text"><h1 class="header">Grants</h1>
		<h2>Biomass Research and Development Initiative</h2>
		<p>
			The U.S. Department of Agriculture (USDA) funds biomass research, in part, through competitive grant programs. The Biomass Research and Development Initiative (BRDI) is a major source of grant funding for biomass research. Funds awarded under this program may be used for biomass research costs and the development of new biomass technologies, methods or capabilities. The grant program is a part of the federal government's numerous initiatives to develop more local sources of energy, including the use of American forest or farm products to meet our energy needs. Eligible entities for funding under this grant program include federal, state and local governments, private businesses, non-profits and research institutions.
		</p>
		<h2>Cooperative Forestry Research Program</h2>
		<p>
			The USDA also funds biomass projects through its Cooperative Forestry Research Program. Unlike the BRDI, this program is not specifically directed at biomass research. Instead, the Cooperative Forestry Research program funds a number of programs related to developing innovative ways to use forest products, including timber biomass. These funds are primarily awarded to state agencies, which then secure projects based on their local needs and priorities. The USDA also consults with local forestry institutions---such as state universities---before awarding grants. These institutions are the primary targets of grant awards in this particular program.
		</p>
		<h2>Community Wood Energy Program</h2>
		<p>
			The Community Wood Energy Program is a USDA biomass grant that helps potential biomass energy consumers expand or purchase a community biomass system. These systems might include a heating system shared by multiple homes and apartments or an electric generation system that is powered by wood biomass. In addition to grant funding, technical assistance is also available from the USDA through this program to help with the installation and development of a local wood energy system. Applicants must be able to match the award with non-federal funds for at least 50 percent of the total project costs. Eligible applicants include state, local and tribal agencies.
		</p>
	</div>
</div>
<div class="section" id="fourthPage">
	<h1 class="header">Videos</h1>
	<iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/fpHFZvxUvZ8?rel=0" allowfullscreen></iframe>
	<p class="mobile">This video is not available on your screen</p>
</div>
<div class="section" id="fifthPage">
	<h1 class="header">Cost for Installation</h1>
	<div class="costplugin">
	<span id="cost" class="costheader">Cost Per Year: $0</span>
	<p class="costtext">Based on the average price of</p>
	<span class="currencyinput">$<input type="number" name="currency" class="costinput" onchange="handleChange(this)"></span>
	<p class="costtext">per kW</p>
	<input type="text" class="dial">
	</div>
	<div class="costfacts">
		<span class="costheader" style="text-align: center;">Average Cost Facts - Biomass Energy</span>
		<p>The LCOE of biomass-fired power plants range from $0.06 to $0.29 per kWh based on capital costs and feedstock costs.</p>
		<p>In the United States, direct combustion is the most common method of producing heat from biomass. Small-scale biomass electric plants have installed costs of $3,000 to $4,000 per kW, and a levelized cost of energy of $0.8 to $0.15 per kilowatt hour (kWh).</p>
	</div>
	<script>
	$(".dial").knob({
	  'min': 0,
	  'max': 4990,
	  'step': 10,
	  'width': 250,
	  'fgColor': "black",
	  'thickness': '.1',
	  'angleArc': 250,
	  'angleOffset': -125,
		'draw': function () {
	         $(this.i).val(this.cv + 'kW')
		},
	  'change' : function (v) {
	  	// document.getElementById('cost').innerHTML = "Cost Per Year: $" + (v*(0.11)).toFixed(2);
	  	document.getElementById('cost').innerHTML = "Cost Per Year: $" + (v * $('.costinput').val()).toFixed(2);
		}
	});
	function handleChange(input)
	{
		if (input.value < 0.01) input.value = 0.01;
		if (input.value > 0.99) input.value = 0.99;
		$('.dial').trigger('change');
	}
	</script>
</div>
<%= render "scrolltotop" %>
