<% content_for :head do %>
	<title>Energy Solutions | Biomass</title>
	<meta name="description" content="Biomass is a collective term for all plant and animal material. A number of different forms of biomass can be burned or digested to produce energy." />
<% end %>
<!-- <h1 class="title">Biomass</h1> -->
<div class="section" id="firstPage">
	<%= image_tag("biomass-infographic.png" , :class => "displayimage") %>
</div>
<div class="section" id="secondPage">
	<div class="procon"><h1 class="header">Advantages and Disadvantages</h1>
				<div id="pro">
					<h1>Pros</h1>
					<div class="procons">
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
						<p class="inline">Renewable</p>
						<div class="word-wrap">
							<p class="detailtext">
							 A new crop of potential energy grows as you are reaping the rewards of the first one.
							</p>
						</div>
					</div>
					<div class="procons">
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
						<p class="inline">Clean</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Since it’s part of the carbon cycle, photosynthesis takes care of any excess pollutants. No pollutants = No global warming
							</p>
						</div>
					</div>
					<div class="procons">
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
						<p class="inline">Cost-Effective</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Biomass costs ⅓ less than energy from fossil fuels, so with time these savings will add up.
							</p>
						</div>
					</div>
					<div class="procons">
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
						<p class="inline">Abundant</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Biomass is already available all over the world, so its convenient for almost everybody.
							</p>
						</div>
					</div>
				</div>
				<div id="con" style="height: 50%;">
					<h1>Cons</h1>
					<div class="procons">
					<%= image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")%>
						<p class="inline">Expensive</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Harvesting and storing biomass may be too expensive for the process to be worthwhile.
							</p>
						</div>
					</div>
					<div class="procons">
					<%= image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")%>
						<p class="inline">Space</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Harnessing and storing the energy requires large spaces that may be impractical for some locations.
							</p>
						</div>
					</div>
				</div>
	</div>
</div>
<div class="section" id="thirdPage">
	<div class="text"><h1 class="header">Grants</h1>
		<h2>Biomass Research and Development Initiative</h2>
		<p>
			The U.S. Department of Agriculture (USDA) funds biomass research, in part, through competitive grant programs. The Biomass Research and Development Initiative (BRDI) is a major source of grant funding for biomass research. Funds awarded under this program may be used for biomass research costs and the development of new biomass technologies, methods or capabilities. The grant program is a part of the federal government's numerous initiatives to develop more local sources of energy, including the use of American forest or farm products to meet our energy needs. Eligible entities for funding under this grant program include federal, state and local governments, private businesses, non-profits and research institutions.
		</p>
		<h2>Cooperative Forestry Research Program</h2>
		<p>
			The USDA also funds biomass projects through its Cooperative Forestry Research Program. Unlike the BRDI, this program is not specifically directed at biomass research. Instead, the Cooperative Forestry Research program funds a number of programs related to developing innovative ways to use forest products, including timber biomass. These funds are primarily awarded to state agencies, which then secure projects based on their local needs and priorities. The USDA also consults with local forestry institutions---such as state universities---before awarding grants. These institutions are the primary targets of grant awards in this particular program.
		</p>
		<h2>Community Wood Energy Program</h2>
		<p>
			The Community Wood Energy Program is a USDA biomass grant that helps potential biomass energy consumers expand or purchase a community biomass system. These systems might include a heating system shared by multiple homes and apartments or an electric generation system that is powered by wood biomass. In addition to grant funding, technical assistance is also available from the USDA through this program to help with the installation and development of a local wood energy system. Applicants must be able to match the award with non-federal funds for at least 50 percent of the total project costs. Eligible applicants include state, local and tribal agencies.
		</p>
	</div>
</div>
<div class="section" id="fourthPage">
	<h1 class="header">Videos</h1>
	<iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/fpHFZvxUvZ8?rel=0" allowfullscreen></iframe>
	<p class="mobile">This video is not available on your screen</p>
</div>
<div class="section" id="fifthPage">
	<h1 class="header">Cost for Installation</h1>
	<div class="costplugin">
	<span id="cost" class="costheader">Cost Per Year: $0</span>
	<p class="costtext">Based on the average price of $0.08 per kWh</p>
	<input type="text" class="dial">
	</div>
	<div class="costfacts">
		<span class="costheader" style="text-align: center;">Average Cost Facts - Biomass Energy</span>
		<p>The LCOE of biomass-fired power plants range from $0.06 to $0.29 per kWh based on capital costs and feedstock costs.</p>
		<p>In the United States, direct combustion is the most common method of producing heat from biomass. Small-scale biomass electric plants have installed costs of $3,000 to $4,000 per kW, and a levelized cost of energy of $0.08 to $0.15 per kilowatt hour (kWh).</p>
		<p>The LCOE of biomass-fired power plants range from $0.06 to $0.29 per kWh based on capital costs and feedstock costs.</p>
		<p>In the United States, direct combustion is the most common method of producing heat from biomass. Small-scale biomass electric plants have installed costs of $3,000 to $4,000 per kW, and a levelized cost of energy of $0.08 to $0.15 per kilowatt hour (kWh).</p>
		<p>The LCOE of biomass-fired power plants range from $0.06 to $0.29 per kWh based on capital costs and feedstock costs.</p>
		<p>In the United States, direct combustion is the most common method of producing heat from biomass. Small-scale biomass electric plants have installed costs of $3,000 to $4,000 per kW, and a levelized cost of energy of $0.08 to $0.15 per kilowatt hour (kWh).</p>
		<p>The LCOE of biomass-fired power plants range from $0.06 to $0.29 per kWh based on capital costs and feedstock costs.</p>
		<p>In the United States, direct combustion is the most common method of producing heat from biomass. Small-scale biomass electric plants have installed costs of $3,000 to $4,000 per kW, and a levelized cost of energy of $0.08 to $0.15 per kilowatt hour (kWh).</p>
		<p>The LCOE of biomass-fired power plants range from $0.06 to $0.29 per kWh based on capital costs and feedstock costs.</p>
		<p>In the United States, direct combustion is the most common method of producing heat from biomass. Small-scale biomass electric plants have installed costs of $3,000 to $4,000 per kW, and a levelized cost of energy of $0.08 to $0.15 per kilowatt hour (kWh).</p>

	</div>
	<script>
	$(".dial").knob({
	  'min': 1000,
	  'max': 15000,
	  'step': 10,
	  'width': 250,
	  'fgColor': "black",
	  'thickness': '.1',
	  'angleArc': 250,
	  'angleOffset': -125,
		'draw': function () {
	         $(this.i).val(this.cv + 'kW')
		},
	  'change' : function (v) {
	  	document.getElementById('cost').innerHTML = "Cost Per Year: $" + (v*(0.11)).toFixed(2);
		}
	});
	</script>
</div>
<%= render "scrolltotop" %>
