<div class="section" id="first">
	<h1>Geothermal Energy</h1>
</div>
<div class="section active" id="firstPage">
	<div class="procon"><h1 class="header">Advantages and Disadvantages</h1>
		<table>
			<tr>
				<th>Pros</th>
				<th>Cons</th>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Low Operating Cost</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Geothermal heat pump cost tends to be lower than conventional heating systems by anywhere from $400 to $1,400 per year. Despite spending a little more initially, geothermal heating ends up paying back in around five years.
							</p>
						</div>
					</div>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Initial Cost</p>
						<div class="word-wrap">
						<p class="detailtext">
						  Installation of a heat pump and interior ductwork can nearly be double that of traditional furnace systems.
						</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">No Effect on Nature</p>
						<div class="word-wrap">
							<p class="detailtext">
                 Geothermal heat pumps cost less and they have less of an effect on the environment. Open loop systems reduce emissions by up to 40% while making little environmental impact otherwise.
							</p>
						</div>
					</div>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Lots of Space</p>
						<div class="word-wrap">
							<p class="detailtext">
							 A geothermal heat pump is usually installed in the home's interior. However, the trenches or geothermal bore holes for the piping can require several hundred feet of open space.
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Reliability</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Geothermal systems can last anywhere from 20 to 50 years. When located away from harsh elements, the heat pumps themselves are known to last for much more than 20 years.
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Easy Retrofitting</p>
						<div class="word-wrap">
							<p class="detailtext">
                 Geothermal heat pumps and geothermal systems are easy to integrate with older systems without the hassle of complicated duckwork or replacement of parts.
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<p class="inline">Completely Emission Free</p>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<p class="inline">No Carbon Released</p>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">No Fuel Needed</p>
						<div class="word-wrap">
							<p class="detailtext">
                 This means that there is no mining of fossil fuels or need to transport them for energy purposes.
							</p>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="section" id="secondPage">
	<div class="text"><h1 class="header">Grants</h1>
		<h2>USDA REAP Grants</h2>
		<p>
			The Department of Agriculture provides homeowners in rural areas with grants to buy and install solar energy systems. The grants can cover up to 25 percent of a project's total cost and are limited to $500,000 for solar energy systems. To qualify, you must own the home and be a farmer or a rancher in a rural area.
		</p>
		<h2>Green Retrofit Grants</h2>
		<p>
			HUD's Office of Affordable Housing Preservation pays eligible homeowners to install and maintain alternative energy technology such as solar energy systems. The program has total funding of $250 million and is sponsored by the Housing Recovery Act. You must spend grant funds within two years of receiving the money.
		</p>
		<h2>Federal Grant Program</h2>
		<p>
			The Department of Energy's Tribal Energy Program helps homeowners in tribal lands reach energy sufficiency through the use of renewable energy such as solar energy. The program helps you pay for the education, training, evaluation and development of solar energy resources.
		</p>
		<h2>Residential Renewable Energy Credit</h2>
		<p>
			The federal government allows you to claim a tax credit of up to 30 percent of your costs toward solar electric systems. To qualify, fuel cells must have a minimum of 0.5 kW, an electricity generation efficiency of at least 30 percent, and at least 50 percent of the home's heating energy must come from solar energy.
		</p>
	</div>
</div>
<div class="section" id="thirdPage">
	<div class="intro"><h1 class="header">Infographic</h1>
		<%= image_tag("geothermal_infographic.png", :class => "displayimage") %>
	</div>
</div>
<%= render "scrolltotop" %>
