- content_for :head do
  %title Pure Energy | Home
  %meta{content: "Pure Energy home page for BPA. Resource for homeowners to consult for renewable, clean, and nearby energy solutions that are practical in their geographical area.", name: "description"}/
.welcome
  %h1 Energy Saving for Homeowners
  .intro-text
    %i{:class => "fa fa-leaf fa-3x fa-fw icon"}
    %p.intro-inline Renewable Energy
    %p.intro-word-wrap Homeowners, browse through information on biofuel, biomass, geothermal, water, solar, and wind energy.
  .intro-text
    %i{:class => "fa fa-sun-o fa-3x fa-fw icon"}
    %p.intro-inline Energy Near You
    %p.intro-word-wrap View the most suitable energy sources in your current location.
  .intro-text
    %i{:class => "fa fa-bolt fa-3x fa-fw icon"}
    %p.intro-inline The Future Is Here - For Cheaper
    %p.intro-word-wrap Find federal and state-specific grants for various types of renewable energy.
  .imagecarousel.has-dots
    %ul
      %li{:style => "background: url(#{image_path('carousel1.jpg')});"}
        %p Wind
      %li{:style => "background: url(#{image_path('carousel2.jpg')});"}
        %p Solar
      %li{:style => "background: url(#{image_path('carousel3.jpg')});"}
        %p Geothermal
      %li{:style => "background: url(#{image_path('carousel4.jpg')});"}
        %p Biofuel
      %li{:style => "background: url(#{image_path('carousel5.jpg')});"}
        %p Biomass
=render "location"
