<div class="location">
	<h6>Find energy sources near you</h6>
	<%=text_field_tag 'zip', nil, maxlength: 5%>
	<div>
		<p>Allow us to determine your location</p>
	</div>
</div>
<div id="carousel">
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active img">
					<%= link_to image_tag("solar.jpg", :width => 700, :height => 400)%>
				</div>
				<div class="item img">
					<%= link_to image_tag("tidal.jpg", :width => 700, :height => 400)%>
				</div>
				<div class="item img">
					<%= link_to image_tag("wind.jpg", :width => 700, :height => 400)%>
				</div>
				<div class="item img">
					<%= link_to image_tag("geothermal.jpg", :width => 700, :height => 400)%>
				</div>
			</div>
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
</div>
<p>
Other text to put here
</p>
