- @title="Pure Energy | Home"
- @meta="Pure Energy home page for BPA. Resource for homeowners to consult for renewable, clean, and nearby energy solutions that are practical in their geographical area."
%h1#welcome-header Energy Solutions for Homeowners
.welcome
  .intro-text
    %i{:class => "fa fa-leaf fa-3x fa-fw icon"}
    %p.intro-inline Renewable Energy
    %p.intro-word-wrap Browse through our information on biofuel, biomass, geothermal, hydroelectric, solar, and wind energy. Look at infographics, advantages and disadvantages, grants, videos, and estimated costs in an easy-to-read, modern design.
  .intro-text
    %i{:class => "fa fa-sun-o fa-3x fa-fw icon"}
    %p.intro-inline Energy Near You
    %p.intro-word-wrap View suitable energy sources in your current location with "Energy Near You". The feature also provides links to individual state incentives and regulations.
  .intro-text
    %i{:class => "fa fa-bolt fa-3x fa-fw icon"}
    %p.intro-inline The Future Is Here - For Cheaper
    %p.intro-word-wrap Find state and federal grants to help in offsetting the net cost for the installation of a renewable energy source.
  .imagecarousel.has-dots
    %ul
      %li{:style => "background: url(#{image_path('carousel1.jpg')});"}
        %p Wind
        %a{:href => "/wind"}
      %li{:style => "background: url(#{image_path('carousel2.jpg')});"}
        %p Solar
        %a{:href => "/solar"}
      %li{:style => "background: url(#{image_path('carousel3.jpg')});"}
        %p Geothermal
        %a{:href => "/geothermal"}
      %li{:style => "background: url(#{image_path('carousel4.jpg')});"}
        %p Biofuel
        %a{:href => "/biofuel"}
      %li{:style => "background: url(#{image_path('carousel5.jpg')});"}
        %p Hydroelectric
        %a{:href => "/hydroelectric"}
#special.special.button
  %p Find Energy Near You
