- @title="Pure Energy | Home"
- @meta="pure energy, renewable energy, energy solutions for homeowners, business professionals of america, pure energy homeowners, pure energy solutions for homeowners, nearby pure energy, pure energies"
%h1#welcome-header Energy Solutions for Homeowners
.welcome
  .intro-text
    %i{:class => "fa fa-leaf fa-3x fa-fw icon"}
    %p.intro-inline Energy Sources
    %p.intro-word-wrap Browse through our information on biofuel, biomass, geothermal, hydroelectric, solar, and wind energy. Look at infographics, advantages and disadvantages, grants, videos, and estimated costs in an easy-to-read, modern design.
  .intro-text
    %i{:class => "fa fa-sun-o fa-3x fa-fw icon"}
    %p.intro-inline Energy Near You
    %p.intro-word-wrap View suitable energy sources in your current location with "Energy Near You". The feature also provides links to individual state incentives and regulations.
  .intro-text
    %i{:class => "fa fa-bolt fa-3x fa-fw icon"}
    %p.intro-inline The Future Is Here - For Cheaper
    %p.intro-word-wrap Find state and federal grants in "Energy Near You" to help in offsetting the net cost for the installation of a renewable energy source.
  .imagecarousel.has-dots
    %ul
      %li{:style => "background: url(#{image_path('carousel1.jpg')});"}
        %div
        %p Wind
        %a{:href => "/wind"}
      %li{:style => "background: url(#{image_path('carousel2.jpg')});"}
        %div
        %p Solar
        %a{:href => "/solar"}
      %li{:style => "background: url(#{image_path('carousel3.jpg')});"}
        %div
        %p Geothermal
        %a{:href => "/geothermal"}
      %li{:style => "background: url(#{image_path('carousel4.jpg')});"}
        %div
        %p Biofuel
        %a{:href => "/biofuel"}
      %li{:style => "background: url(#{image_path('carousel5.jpg')});"}
        %div
        %p Hydroelectric
        %a{:href => "/hydroelectric"}
      %li{:style => "background: url(#{image_path('carousel6.jpg')});"}
        %div
        %p Biomass
        %a{:href => "/biomass"}
#special.special.button
  %p Find Energy Near You
