- @title="Pure Energy | Hydroelectric"
- @meta="water power, hydroelectric, hydropower, power from falling water, advantages, infographic"
#firstPage.section.hydro_gradient
  .intro
    = image_tag("hydro-0.png", :class => "tiled windinfo", :alt => "Hydroelectric Renewable Energy Infographic")
    = image_tag("hydro-1.png", :class => "tiled windinfo", :alt => "Hydroelectric Renewable Energy Infographic")
    = image_tag("hydro-2.png", :class => "tiled windinfo", :alt => "Hydroelectric Renewable Energy Infographic")
    = image_tag("hydro-3.png", :class => "tiled windinfo", :alt => "Hydroelectric Renewable Energy Infographic")
    = image_tag("hydro-4.png", :class => "tiled windinfo", :alt => "Hydroelectric Renewable Energy Infographic")
    = image_tag("hydro-5.png", :class => "tiled windinfo", :alt => "Hydroelectric Renewable Energy Infographic")
    = image_tag("hydro-6.png", :class => "tiled windinfo", :alt => "Hydroelectric Renewable Energy Infographic");
    = image_tag("hydro-7.png", :class => "tiled windinfo", :style => "vertical-align: bottom", :alt => "Hydroelectric Renewable Energy Infographic");
#secondPage.section.active
  %h1.header Advantages and Disadvantages
  #pro
    .f-col-wrapper
      .col.f-col1
        .icon-wrap
          %h3 Flexible
        .col-content.equal-height
          %p It can be turned on when it’s needed and turned off when it’s not. It’s always ready to go.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 High Efficiency
        .col-content.equal-height
          %p A 90% efficiency rate means that almost all of the energy produced can be harnessed for your needs.
    .f-col-wrapper
      .col.f-col3
        .icon-wrap
          %h3 No Maintenance
        .col-content.equal-height
          %p Generating hydropower costs ⅓ of the amount needed to use fossil fuels.
    .f-col-wrapper
      .col.f-col4
        .icon-wrap
          %h3 Community
        .col-content.equal-height
          %p Water provides countless opportunities: irrigation, swimming, boating, and even duck-watching!
  #con
    .f-col-wrapper
      .col.f-col1
        .icon-wrap
          %h3 Noisy
        .col-content.equal-height
          %p Water turbines can be annoying to the surrounding neighborhoods.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Risky
        .col-content.equal-height
          %p Large dams may not only disrupt the natural flow of rivers but can also cause earthquakes, erosion, landslides, and major flooding.
    .f-col-wrapper
      .col.f-col3
        .icon-wrap
          %h3 Pollution
        .col-content.equal-height
          %p It may take a few decades before the cost of building a large hydroelectric plant is paid off.
#thirdPage.section
  .text
    %h1.header Grants
    %h2 Green Retrofit Grants
    %p
      HUD's Office of Affordable Housing Preservation pays eligible homeowners to install and maintain alternative energy technology such as solar energy systems. The program has total funding of $250 million and is sponsored by the Housing Recovery Act. You must spend grant funds within two years of receiving the money.
    %h2 Federal Grant Program
    %p
      The Department of Energy's Tribal Energy Program helps homeowners in tribal lands reach energy sufficiency through the use of renewable energy such as solar energy. The program helps you pay for the education, training, evaluation and development of solar energy resources.
    %h2 Residential Renewable Energy Credit
    %p
      The federal government allows you to claim a tax credit of up to 30 percent of your costs toward solar electric systems. To qualify, fuel cells must have a minimum of 0.5 kW, an electricity generation efficiency of at least 30 percent, and at least 50 percent of the home's heating energy must come from solar energy.
    %h2 Tribal Energy Program Grant from U.S. Department of Energy
    %p
      The Department of Energy offers the Tribal Energy Program Grant to tribal communities. This grant provides funding for multiple types of renewable energy and energy efficient technologies, including hydro power. Included in the scope of funding are education and training and technical assistance. Additionally, the Department of Energy manages and implements programs supported by the grant.
    %h2 Advanced Hydropower Development from U.S. Department of Energy
    %p
      The Advanced Hydropower Development grant from the U.S. Department of Energy's Office of Energy Efficiency and Renewable Energy is available to all domestic entities, including institutions of higher education, non-profit and for-profit organizations, and state and local government agencies. Funding is geared toward several topic areas, including sustainable small hydro power.
#fourthPage.section
  %h1.header Videos
  %iframe.video{allowfullscreen: "", height: "360", src: "//www.youtube-nocookie.com/embed/edEhvmNlYqk?rel=0&showinfo=0&autohide=1", width: "640"}
  .video-description
    %p The video demonstrates a tour of some of the parts and how hydropower works. Two natural springs provide water which fall at about 500 vertical feet through a mile of pipe and develops 220 psi.
  %iframe.video{allowfullscreen: "", height: "360", src: "//www.youtube-nocookie.com/embed/gbowRUuP9Kk?rel=0&showinfo=0&autohide=1", width: "640"}
  .video-description
    %p The micro hydro generator system demonstrated in the video produces 12 amps or 30 volts at 170 rpm. The generator requires little maintenance.
#fifthPage.section
  %h1.header Cost of Installation
  = image_tag "hydro-cost.png", :class => "tiled windinfo", :alt => "Hydroelectric Renewable Energy Cost Infographic"
  = image_tag "hydro-cost-1.png", :class => "tiled windinfo", :alt => "Hydroelectric Renewable Energy Cost Infographic"
  = image_tag "hydro-cost-2.png", :class => "displayimage", :alt => "Hydroelectric Renewable Energy Cost Infographic"
  = image_tag "hydro-cost-3.png", :class => "displayimage", :alt => "Hydroelectric Renewable Energy Cost Infographic"
