- content_for :head do
  %title Pure Energy | Results
  %meta{content: "Pure Energy results page that shows homeowners to view federal and state grants in their current state. It also displays viable renewable energy resources in their current location.", name: "description"}/
%p.state{style: "display: none;"}= @state
%p#lat{style: "display: none;"}= @lat
%p#long{style: "display: none;"}= @long
%p#energy{style: "display: none;", 'data-id' => "#{@energy}"}
:javascript
  $(document).ready(function(){
    var energies = document.getElementsByClassName("energy-type");
    var energytext = document.getElementsByClassName("energy");
    for (var index = 0; index < energies.length; index++){
      var text = energies[index].innerHTML;
      if (text != null){
        $(energies[index]).addClass(text.toLowerCase());
        $(energies[index]).attr("href","/" + text.toLowerCase());
        $(energytext[index]).addClass(text.toLowerCase());
      }
    }
  });
.results
  %h1.header-results
    Renewable Energy Sources Available in
    %span #{@city.titlecase}, #{@state}
  - @energy.each do |k,v|
    .results-energy
      - if (v)
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %a.results-inline.energy-type#first #{k}
        %a.results-inline.energy Energy
= render "map"
#map-canvas
%h1.header-results
  Grants near #{@city.titlecase}, #{@state}
%p.source-text Information provided by dsireusa.org and afdc.energy.gov
#tab-container.tab-container
  %ul.etabs
    %li.tab
      %a{href: "#financial"}Incentive List
    %li.tab
      %a{href: "#stateincentives"}State Incentives
    %li.tab
      %a{href: "#laws"}Rules, Regulations & Policies
  #financial.grantsinfo
  :javascript
    $(document).ready(function(){
    	var state=$('.state').text();
    	$("#financial").load("http://www.dsireusa.org/incentives/index.cfm?re=0&ee=0&spv=0&st=0&srp=1&state="+state);
    	$.ajax({
    	url: 'http://www.dsireusa.org/incentives/index.cfm?re=0&ee=0&spv=0&st=0&srp=1&state='+state,
    	type: 'GET',
    	success: function(res)
    	{
    	  var headline = $(res.responseText).find('#incentivelist').html();
        var lines = headline.split("\n");
        var financial = "";
        var frequency = 0;
        for (var i = 0, len = lines.length; i < len; i++) {
            if (lines[i].indexOf("categorytype") > -1)
              frequency+=1;
              if (frequency == 2)
                break;
            else
              financial += lines[i];
        }
    	  var div = document.getElementById('financial');
    	  div.innerHTML = financial;
    	  $("#financial ul li a").each(function(){
    	  	var _href = $(this).attr("href");
    	  	$(this).attr("href", "http://www.dsireusa.org/incentives/"+_href);
    	  	$(this).attr("target", "_blank");
    	  });
    	}
    	});
    });
  #stateincentives.grantsinfo
  :javascript
    $(document).ready(function(){
      var state=$('.state').text();
      $("#moregrants").load("http://www.afdc.energy.gov/laws/state_summary/"+state);
      $.ajax({
      url: 'http://www.afdc.energy.gov/laws/state_summary/'+state,
      type: 'GET',
      success: function(res)
      {
        var headline = $(res.responseText).find('.summary_table ul').first().html();
        var div = document.getElementById('stateincentives');
        div.innerHTML = headline;
        var heading = "<br><span class='categorytype'>State Incentives</span><hr>";
        $("#stateincentives").prepend(heading);
        $("#stateincentives a").each(function(){
          var _href = $(this).attr("href");
          $(this).attr("href", "http://www.afdc.energy.gov"+_href);
          $(this).attr("target", "_blank");
        });
      }
      });
    });
  #laws.grantsinfo
  :javascript
    $(document).ready(function(){
      var state=$('.state').text();
      $("#moregrants").load("http://www.afdc.energy.gov/laws/state_summary/"+state);
      $.ajax({
      url: 'http://www.afdc.energy.gov/laws/state_summary/'+state,
      type: 'GET',
      success: function(res)
      {
        var headline = $(res.responseText).find('.summary_table ul').last().html();
        var div = document.getElementById('laws');
        div.innerHTML = headline;
        var heading = "<br><span class='categorytype'>Rules, Regulations, and Policies</span><hr>";
        $("#laws").prepend(heading);
        $("#laws a").each(function(){
          var _href = $(this).attr("href");
          $(this).attr("href", "http://www.afdc.energy.gov"+_href);
          $(this).attr("target", "_blank");
        });
      }
      });
    });
:javascript
  $('#tab-container').easytabs();
