<p style="display: none;" class="state"><%=@state%></p>
<h1 class="locheader">Renewable Energy Statistics for <%= @city.titlecase %>, <%= @state %>
<div id="sunhours">
	<%=@wind%>
	<script>
	var xmlHttp
	function showCITY(str)
	{
	xmlHttp=GetXmlHttpObject()
	if (xmlHttp==null)
	{
		alert ("Browser does not support HTTP Request")
		return
	}
	validater url="getcity.php"
	url=url+"?q="+str
	url=url+"&sid="+Math.random()
	xmlHttp.open("GET",url,true)
	xmlHttp.send(null)
	}
	function GetXmlHttpObject()
	{
	var xmlHttp=null;
	try
	{
	// Firefox, Opera 8.0+, Safari
	xmlHttp=new XMLHttpRequest();
	}
	catch (e)
	{
	// Internet Explorer
	try
	{
	xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
	}
	catch (e)
	{
	xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	}
	return xmlHttp;
	}

	</script>
</div>
<h1 class="locheader">Grants near <%= @city.titlecase %>, <%= @state %></h1>
<div id="grants">
</div>
<script>
	$(document).ready(function(){
		var state=$('.state').text();
		$("#grants").load("http://www.dsireusa.org/incentives/index.cfm?re=0&ee=0&spv=0&st=0&srp=1&state="+state);
		$.ajax({
		url: 'http://www.dsireusa.org/incentives/index.cfm?re=0&ee=0&spv=0&st=0&srp=1&state='+state,
		type: 'GET',
		success: function(res)
		{
		  var headline = $(res.responseText).find('#incentivelist').html();
		  var div = document.getElementById('grants');
		  div.innerHTML = headline;
		  $("#grants ul li a").each(function(){
		  	var _href = $(this).attr("href");
		  	$(this).attr("href", "http://www.dsireusa.org/incentives/"+_href);
		  	$(this).attr("target", "_blank");
		  });
		}
		});
	});
</script>
<h1 class="locheader">Interactive Renewable Energy Map</h1>
<div class="applet">
	<iframe id="energymap" width="700" height="800" src="http://renewables-map.nrdcapps.org/?">
	</iframe>
</div>
