<% content_for :head do %>
	<title>Energy Solutions | Solar PV</title>
	<meta name="description" content="Photovoltaic devices generate electricity directly from sunlight via an electronic process that occurs naturally in certain types of materials." />
<% end %>
<div class="section" id="first">
	<h1>Solar PV Energy (Photovoltaic)</h1>
</div>
<div class="section" id="firstPage" style="background-color: #F1EEE5;">
	<div class="intro"><h1 class="header">What Is It</h1>
		<%= image_tag("solar_infographic2.png", :class=>"displayimage", :style=>"width: 95%;")%>
	</div>
</div>
<div class="section active" id="secondPage">
	<div class="procon"><h1 class="header">Advantages and Disadvantages</h1>
		<table>
			<tr>
				<th>Pros</th>
				<th>Cons</th>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Quiet</p>
						<div class="word-wrap">
							<p class="detailtext">
								No moving parts = no noise
							</p>
						</div>
					</div>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Initial Cost</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Currently, prices of highly efficient solar cells can be above $1000, and some households may need more than one. This makes the initial installation of solar panels very costly.
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">No Pollution</p>
						<div class="word-wrap">
							<p class="detailtext">
							 The only pollution produced as a result of solar panels is the manufacturing of these devices in factories, transportation of the goods, and installation.
							</p>
						</div>
					</div>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Daylight Only</p>
						<div class="word-wrap">
							<p class="detailtext">
							 This means for around half of each day, solar panels are not producing energy for your home. Access to sunlight is limited at certain times (e.g. morning and night). Predicting overcast days can be difficult.
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Less Service</p>
						<div class="word-wrap">
							<p class="detailtext">
							 The majority of today`s solar power systems do not require much maintenance. Residential solar panels usually only require cleaning a couple of times a year. Serious solar manufacturers ship 20 or 25 year warranties with their solar panels.
							</p>
						</div>
					</div>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Pollution</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Since pollution levels affect a solar cell's efficiency, this would be a major disadvantage for businesses that install solar panels in heavily polluted areas, such as cities.
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Requires Space</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Power density, or watt per square meter (W/m²), is essential when looking at how much power can be derived from a certain area of real estate of an energy source. Low power density indicates that too much real estate is required to provide the power we demand at reasonably prices. The global mean power density for solar radiation is 170 W/m². This is more than any other renewable energy source, but not comparable to oil, gas and nuclear power.
							</p>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="section" id="thirdPage">
	<div class="text"><h1 class="header">Grants</h1>
		<h2>USDA REAP Grants</h2>
		<p>
			The Department of Agriculture provides homeowners in rural areas with grants to buy and install solar energy systems. The grants can cover up to 25 percent of a project's total cost and are limited to $500,000 for solar energy systems. To qualify, you must own the home and be a farmer or a rancher in a rural area.
		</p>
		<h2>Green Retrofit Grants</h2>
		<p>
			HUD's Office of Affordable Housing Preservation pays eligible homeowners to install and maintain alternative energy technology such as solar energy systems. The program has total funding of $250 million and is sponsored by the Housing Recovery Act. You must spend grant funds within two years of receiving the money.
		</p>
		<h2>Federal Grant Program</h2>
		<p>
			The Department of Energy's Tribal Energy Program helps homeowners in tribal lands reach energy sufficiency through the use of renewable energy such as solar energy. The program helps you pay for the education, training, evaluation and development of solar energy resources.
		</p>
		<h2>Residential Renewable Energy Credit</h2>
		<p>
			The federal government allows you to claim a tax credit of up to 30 percent of your costs toward solar electric systems. To qualify, fuel cells must have a minimum of 0.5 kW, an electricity generation efficiency of at least 30 percent, and at least 50 percent of the home's heating energy must come from solar energy.
		</p>
	</div>
</div>
<div class="section" id="fourthPage">
	<h1 class="header">Videos</h1>
	<iframe width="640" height="360" class= "video" src="//www.youtube-nocookie.com/embed/QDNjArnRL5I?rel=0"allowfullscreen></iframe>
	<p class="mobile">This video is not available on your screen</p>
</div>
<div class="section" id="fifthPage" style="background-image: url('/assets/hexagon-5ffcf63051c5913e735f3ee120c50213.png');">
	<div class="intro">
	<h1 class="header">Cost of Installation</h1>
	<%= image_tag("solar_infographic.png", :class=>"displayimage")%>
	<div class="costplugin">
	<span id="cost" class="costheader">Cost Per Year: $0</span>
	<p>Based on the average price of $0.31 per kW</p>
	<input type="text" class="dial">
	</div>
	<div class="costfacts">
		<span class="costheader" style="text-align: center;">Average Cost Facts - Solar PV</span>
		<!-- <p>The United States consumes an average of 11,698 kWh per year.</p> -->
	</div>
	<script>
	$(".dial").knob({
	  'min': 1000,
	  'max': 15000,
	  'step': 100,
	  'width': 250,
	  'fgColor': "black",
	  'thickness': '.1',
	  'angleArc': 250,
	  'angleOffset': -125,
		'draw': function () {
	         $(this.i).val(this.cv + 'kW')
		},
	  'change' : function (v) {
	  	document.getElementById('cost').innerHTML = "Cost Per Year: $" + (v*(0.18 + 0.43)/2).toFixed(2);
		}
	});
	</script>
	</div>
</div>
<!-- <div class="section" id="sixthPage">
	<div style="display: inline-block; margin-right: 30px; font-size: 11px; width: 167px"><iframe src="http://www.paystolivegreen.com/widget_src/small_kwh_calculator.php?theme=my_theme&amp;size=3" style="width: 167px; height: 234px;"></iframe></div>
	<div style="display: inline-block; margin-right: 30px; font-size: 11px; width: 186px"><iframe src="http://www.paystolivegreen.com/widget_src/shower_calculator.php?theme=blue&amp;size=3" style="width: 186px; height: 245px;"></iframe></div>
</div> -->
<%= render "scrolltotop" %>
