- @title="Pure Energy | Solar PV"
- @meta="photovoltaic sells, solar energy, sunlight, advantages, infographics"
#firstPage.section{style: "background-color: #F1EEE5;"}
  .intro
    = image_tag("solar_infographic2.jpg", :class=>"displayimage", :style=>"width: 80%;", :alt => "Solar Energy Infographic")
#secondPage.section
  %h1.header Advantages and Disadvantages
  #pro
    .f-col-wrapper
      .col.f-col1
        .icon-wrap
          %h3 Quiet
        .col-content.equal-height
          %p With no moving parts, there will be little to no noise.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 No Pollution
        .col-content.equal-height
          %p Very little pollution is produced in the process of transporting and installing a solar panel.
    .f-col-wrapper
      .col.f-col3
        .icon-wrap
          %h3 Less Service
        .col-content.equal-height
          %p Geothermal heat pumps can last from 20 to 50 years.
  #con
    .f-col-wrapper
      .col.f-col1
        .icon-wrap
          %h3 Initial Cost
        .col-content.equal-height
          %p Prices of efficient solar cells can be above $1000. Some households may need more than one, so the cost adds up.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Daylight Only
        .col-content.equal-height
          %p This means that for around half of each day, solar panels are not producing energy for your home. Access to sunlight is limited to certain times.
    .f-col-wrapper
      .col.f-col3
        .icon-wrap
          %h3 Pollution
        .col-content.equal-height
          %p Since pollution levels affect the cell's efficiency, this would negatively affect businesses that install solar panels in polluted areas.
#thirdPage.section
  .text
    %h1.header Grants
    %h2 USDA REAP Grants
    %p
      The Department of Agriculture provides homeowners in rural areas with grants to buy and install solar energy systems. The grants can cover up to 25 percent of a project's total cost and are limited to $500,000 for solar energy systems. To qualify, you must own the home and be a farmer or a rancher in a rural area.
    %h2 Green Retrofit Grants
    %p
      HUD's Office of Affordable Housing Preservation pays eligible homeowners to install and maintain alternative energy technology such as solar energy systems. The program has total funding of $250 million and is sponsored by the Housing Recovery Act. You must spend grant funds within two years of receiving the money.
    %h2 Federal Grant Program
    %p
      The Department of Energy's Tribal Energy Program helps homeowners in tribal lands reach energy sufficiency through the use of renewable energy such as solar energy. The program helps you pay for the education, training, evaluation and development of solar energy resources.
    %h2 Residential Renewable Energy Credit
    %p
      The federal government allows you to claim a tax credit of up to 30 percent of your costs toward solar electric systems. To qualify, fuel cells must have a minimum of 0.5 kW, an electricity generation efficiency of at least 30 percent, and at least 50 percent of the home's heating energy must come from solar energy.
#fourthPage.section
  %h1.header Videos
  %iframe.video{allowfullscreen: "", src: "//www.youtube-nocookie.com/embed/QDNjArnRL5I?rel=0&showinfo=0&autohide=1"}
  .video-description
    %p This video provides an extensive demo of how solar powers work to generate electricity for your home.
  %iframe.video{allowfullscreen: "", height: "360", src: "//www.youtube-nocookie.com/embed/bzcTFUcXwIY?rel=0&showinfo=0&autohide=1", width: "640"}
  .video-description
    %p mjlorton's YouTube series "How to Solar Power Your Home" is great for explaining the components that are part of a solar power system. In this video, he explains the differences between on-grid and off-grid.
#fifthPage.section{style: "background-image: url(#{image_path "hexagon.png"});"}
  %h1.header Cost of Installation
  = image_tag("solar-cost-1.png", :class=>"tiled windinfo", :alt => "Solar Energy Cost Infographic")
  = image_tag("solar-cost-2.png", :class=>"tiled windinfo", :alt => "Solar Energy Cost Infographic")
  = image_tag("solar-cost-3.png", :class=>"tiled windinfo", :alt => "Solar Energy Cost Infographic")
  = image_tag("solar-cost-4.png", :class=>"tiled windinfo", :alt => "Solar Energy Cost Infographic")
  = image_tag("solar-cost-5.png", :class=>"tiled windinfo", :alt => "Solar Energy Cost Infographic")
  = image_tag("solar-cost-6.png", :class=>"tiled windinfo", :style => "vertical-align: bottom", :alt => "Solar Energy Cost Infographic")
  %h1.cost-header Average Installation System Cost - 2500 Square Foot Home
  %p.cost-text Please note that the figures are approximate and we would always recommend that you request an on-site assessment before deciding on the right solution for you.
  %table.averagecost
    %tr
      %td
      %td#mobile Parts
      %td Net Cost
      %td Savings
      %td ROI
      %td Payback Years
      %td#mobile 6% Mortgage
      %td#mobile Cash Flow
    %tr
      %td Radiant Heating
      %td#mobile $22,500
      %td $18,750
      %td $110
      %td 7.0%
      %td 14.2
      %td#mobile $112
      %td#mobile $2
    %tr
      %td No Space Heating
      %td#mobile $9,000
      %td $6,300
      %td $32
      %td 6.1%
      %td 16.4
      %td#mobile $38
      %td#mobile $6
    %tr
      %td Electric Array 6 kW
      %td#mobile $48,000
      %td $33,600
      %td $72
      %td 2.6%
      %td 38.9
      %td#mobile $201
      %td#mobile $129
