<div class="menu">
	<ul id="menu">
		<li><a class="smoothScroll" href="#firstPage">Pros and Cons</a></li>
		<li><a class="smoothScroll" href="#secondPage">Grants</a></li>
		<li><a class="smoothScroll" href="#thirdPage">Pictures</a></li>
		<li><a class="smoothScroll" href="#fourthpage">Installation Costs</a></li>
	</ul>
</div>
<div class="section active" id="firstPage">
	<div class="procon">
		<table>
			<tr>
				<th>Pros</th>
				<th>Cons</th>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<p class="inline">Cut your electricity bills</p>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<p class="inline">Solar energy is only available when the sun is shining.</p>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<p class="inline">Get paid for the electricity you generate</p>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"30px", :height=> "50px", :class=>"image")%>,
					<p class="inline">Its low efficiency. It requires large areas of land.</p>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<p class="inline">Sell electricity back to the grid</p>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"30px", :height=> "50px", :class=>"image")%>,
					<p class="inline">Its not completely free of environmental impact.</p>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"30px", :height=> "50px", :class=>"image")%>
					<p class="inline">Cut your carbon footprint</p>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"30px", :height=> "50px", :class=>"image")%>,
					<p class="inline">High cost.</p>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="section" id="secondPage">
	<div class="text"><h1 class="header">Grants</h1>
		<h2>USDA REAP Grants</h2>
		<p>
			The Department of Agriculture provides homeowners in rural areas with grants to buy and install solar energy systems. The grants can cover up to 25 percent of a project's total cost and are limited to $500,000 for solar energy systems. To qualify, you must own the home and be a farmer or a rancher in a rural area.
		</p>
		<h2>Green Retrofit Grants</h2>
		<p>
			HUD's Office of Affordable Housing Preservation pays eligible homeowners to install and maintain alternative energy technology such as solar energy systems. The program has total funding of $250 million and is sponsored by the Housing Recovery Act. You must spend grant funds within two years of receiving the money.
		</p>
		<h2>Federal Grant Program</h2>
		<p>
			The Department of Energy's Tribal Energy Program helps homeowners in tribal lands reach energy sufficiency through the use of renewable energy such as solar energy. The program helps you pay for the education, training, evaluation and development of solar energy resources.
		</p>
		<h2>Residential Renewable Energy Credit</h2>
		<p>
			The federal government allows you to claim a tax credit of up to 30 percent of your costs toward solar electric systems. To qualify, fuel cells must have a minimum of 0.5 kW, an electricity generation efficiency of at least 30 percent, and at least 50 percent of the home's heating energy must come from solar energy.
		</p>

		<!-- <h1>Looping!</h1> -->
		<!-- <p>Go to the first section and scroll up or to the last one and scroll down to see how it works.</p> -->
	</div>
</div>
<div class="section" id="thirdPage">
	<div class="intro"><h1 class="header">Pictures and Diagrams</h1>
		<%= image_tag("solar.png", :class=>"image")%>
		<%= image_tag("solar_diagram.jpg", :class=>"image")%>
	</div>
</div>
<div class="section" id="fourthPage">
	<div class="intro"><h1 class="header">Best Places for Solar Energy</h1>
			<p>Netherlands, France, Australia, Italy, South Korea, China, US, Japan, Spain, Germany, Arizona</p>
	</div>
</div>
