- content_for :head do
  %title Pure Energy | Sources
  %meta{content: "Greenhome, nrel, eia, sfgate, earth911, and dsireusa are all comprehensive sources that provide extensive information on renewable energy sources.", name: "description"}/
%h1.header Sources Consulted
.sources
  %div
    = link_to image_tag("nrel.png"), "http://www.nrel.gov/", :class => "src_image",:target => "_blank"
  %div
    = link_to image_tag("eia.png"), "http://www.eia.gov/state/", :class => "src_image",:target => "_blank"
  %div
    = link_to image_tag("sfgate.png"), "http://homeguides.sfgate.com/federal-solar-energy-grants-homeowners-8171.html", :class => "src_image",:target => "_blank"
  %div
    = link_to image_tag("earth911.png"), "http://earth911.com/news/2009/02/09/the-homeowners-guide-to-alternative-energy/", :class => "src_image",:target => "_blank"
  %div
    = link_to image_tag("dsireusa.png"), "http://www.dsireusa.org/", :class => "src_image",:target => "_blank"
  %div
    = link_to image_tag("nationalatlas.gif"), "http://www.nationalatlas.gov", :class => "src_image",:target => "_blank"
  %div
    = link_to image_tag("csrwire.png"), "http://csrwire.com", :class => "src_image",:target => "_blank"
  %div
    = link_to image_tag("energyplace.jpg"), "http://energyplace.com", :class => "src_image",:target => "_blank"
  %div
    = link_to image_tag("energytrends.png"), "http://www.energytrendsinsider.com", :class => "src_image",:target => "_blank"
