- content_for :head do
  %title Pure Energy | Water
  %meta{content: "Hydro-power or water power is power derived from the energy of falling water and running water, which may be harnessed for useful purposes.", name: "description"}/
#firstPage.section{style: "background-color: #EDF3F4;"}
  .intro
    = image_tag("hydroelectric power.jpg", :class => "displayimage")
#secondPage.section.active
  .procon
    %h1.header Advantages and Disadvantages
    #pro
      %h1 Pros
      .procons
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Reliable and Flexible
        .word-wrap
          %p.detailtext
            It can be turned on when it’s need and turned off when it’s not. It’s always ready to go.
      .procons
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline High Efficiency
        .word-wrap
          %p.detailtext
            A 90% efficiency rate means that almost all of the energy produced can be harnessed for your needs.
      .procons
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Low maintenance costs
        .word-wrap
          %p.detailtext
            Generating hydropower costs ⅓ of the amount needed to use fossil fuels.
      .procons
        = image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Community Benefits
        .word-wrap
          %p.detailtext
            Water provides countless opportunities: irrigation, water sports like fishing and swimming, boating, and even duck-watching!
    #con
      %h1 Cons
      .procons
        = image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Noisy
        .word-wrap
          %p.detailtext
            Water turbines can be annoying to the surrounding neighborhoods.
      .procons
        = image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Risky
        .word-wrap
          %p.detailtext
            Large dams can not only disrupt the natural flow of rivers but can also cause earthquakes, erosion, landslides, and major flooding.
      .procons
        = image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")
        %p.inline Expensive
        .word-wrap
          %p.detailtext
            It may take a few decades before the cost of building a large hydroelectric plant is paid off.
#thirdPage.section
  .text
    %h1.header Grants
    %h2 Green Retrofit Grants
    %p
      HUD's Office of Affordable Housing Preservation pays eligible homeowners to install and maintain alternative energy technology such as solar energy systems. The program has total funding of $250 million and is sponsored by the Housing Recovery Act. You must spend grant funds within two years of receiving the money.
    %h2 Federal Grant Program
    %p
      The Department of Energy's Tribal Energy Program helps homeowners in tribal lands reach energy sufficiency through the use of renewable energy such as solar energy. The program helps you pay for the education, training, evaluation and development of solar energy resources.
    %h2 Residential Renewable Energy Credit
    %p
      The federal government allows you to claim a tax credit of up to 30 percent of your costs toward solar electric systems. To qualify, fuel cells must have a minimum of 0.5 kW, an electricity generation efficiency of at least 30 percent, and at least 50 percent of the home's heating energy must come from solar energy.
#fourthPage.section
  %h1.header Videos
  %iframe.video{allowfullscreen: "", height: "360", src: "//www.youtube-nocookie.com/embed/edEhvmNlYqk?rel=0", width: "640"}
  .video-description
    %p The video demonstrates a tour of some of the parts and how hydropower works. Two natural springs provide water which fall at about 500 vertical feet through a mile of pipe and develops 220 psi.
#fifthPage.section{:style => "padding: 50px 10px 150px 10px; background-color: white;"}
  %h1.header Cost of Installation
  = image_tag "water-cost.png", :class => "displayimage"
= render "scrolltotop"
