<% content_for :head do %>
	<title>Energy Solutions | Wind</title>
	<meta name="description" content="A wind turbine is a device that converts kinetic energy from the wind into electrical power." />
<% end %>
<div class="section" id="first">
	<h1>Wind Energy</h1>
</div>
<div class="section" id="firstPage" style="background-color: #93D6CF;">
	<div class="intro"><h1 class="header">Infographic</h1>
			<%= image_tag("wind_infographic_1.png", :class => "displayimage") %>
			<%= image_tag("wind_infographic_2.png", :class => "displayimage") %>
			<%= image_tag("wind_infographic_3.png", :class => "displayimage") %>
			<%= image_tag("wind_infographic_4.png", :class => "displayimage") %>
			<%= image_tag("wind_infographic_5.png", :class => "displayimage") %>
			<%= image_tag("wind_infographic_6.png", :class => "displayimage") %>
	</div>
</div>
<div class="section active" id="secondPage">
	<div class="procon"><h1 class="header">Advantages and Disadvantages</h1>
		<table>
			<tr>
				<th>Pros</th>
				<th>Cons</th>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Clean</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Harnessing it does not produce any harmful by-products.
							</p>
						</div>
					</div>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Initial Cost</p>
						<div class="word-wrap">
							<p class="detailtext">
							 Upfront costs can be high.
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Free, 100% Renewable</p>
					</div>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Need Land</p>
						<div class="word-wrap">
							<p class="detailtext">
							 A turbine can take up a lot of land.
							</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<%= image_tag("check.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Tax Incentives</p>
						<div class="word-wrap">
							<p class="detailtext">
							 The power company pays you back if you produce extra electricity.
							</p>
						</div>
					</div>
				</td>
				<td>
					<%= image_tag("x.png", :width=>"25", :height=> "40", :class=>"image")%>
					<div style="display: inline-table;">
						<p class="inline">Easily Damaged</p>
						<div class="word-wrap">
							<p class="detailtext">
								Turbines can be damaged in lightning storms. Additionally, wind turbines have been known to kill birds and other airborne animals.
							</p>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="section" id="thirdPage">
	<div class="text"><h1 class="header">Grants</h1>
		<h2>Assisted Housing Stability and Energy and Green Retrofit</h2>
		<p>
			The Housing and Urban Development Department offers a total of $250 million through its Assisted Housing Stability and Energy and Green Retrofit. The grant allows eligible homeowners to invest in energy and green retrofit projects such as wind and solar energy units.
		</p>
		<h2>USDA Rural Energy for America Program</h2>
		<p>
			The U.S. Department of Agriculture (USDA) helps farmers, ranchers and homeowners in rural areas (population under 20,000) with grants to buy and install solar, wind and other renewable energy systems. The grants can be used to pay up to 25 percent of a project's cost, up to a maximum of $500,000.
		</p>
		<h2>Utility Grant Programs</h2>
		<p>
			Local utility providers also provide grants to homeowners who are willing to invest in solar and wind power generating units. Small wind turbines and solar panels can be used by homes and farms in areas where it is not possible or cost-effective to run power lines. For instance, the Sacramento Municipal Utility District's Residential Loan Program grants 100 percent financing to customers who install solar water-heating systems. The NorthWestern Energy utility in Montana, on the other hand, provides users with the Utility Grant Program. This grant provides incentives of $3 and $2 per watt for solar and energy installations, respectively.
		</p>
		<h2>State Renewable Energy Grants</h2>
		<p>
			State governments also provide solar and wind energy grants to eligible homeowners. For instance the State Grant Program of Colorado provides homeowners with funds to finance solar, wind and other renewable energy projects. Projects must start within three months of the grant approval date and have a maximum estimated project duration of eight months.
		</p>
	</div>
</div>
<div class="section" id="fourthPage">
	<div class="intro"><h1 class="header">Videos</h1>
		<iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/lmy23TdhA9E?rel=0" allowfullscreen></iframe>
		<iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/jT8yswXdxFk?rel=0" allowfullscreen></iframe>
		<p class="mobile">These videos are not available on your screen</p>
	</div>
</div>
<div class="section" id="fifthPage">
	<h1 class="header">Cost of Installation</h1>
	<div class="costplugin">
	<span id="cost" class="costheader">Cost Per Year: $0</span>
	<p>Based on the average price of $0.04 per kW</p>
	<input type="text" class="dial">
	</div>
	<div class="costfacts">
		<span class="costheader" style="text-align: center;">Average Cost Facts - Wind</span>
		<p>After topping out at nearly $70/megawatt-hour in 2009, the average levelized long-term price from wind power sales agreements signed in 2011/2012 – many of which were for projects built in 2012 – fell to around $40/megawatt-hour nationwide.</p>
	</div>
	<script>
	$(".dial").knob({
	  'min': 1000,
	  'max': 15000,
	  'step': 10,
	  'width': 250,
	  'fgColor': "black",
	  'thickness': '.1',
	  'angleArc': 250,
	  'angleOffset': -125,
		'draw': function () {
	         $(this.i).val(this.cv + 'kW')
		},
	  'change' : function (v) {
	  	document.getElementById('cost').innerHTML = "Cost Per Year: $" + (v*(0.04)).toFixed(2);
		}
	});
	</script>
</div>
<%= render "scrolltotop" %>
