- @title="Pure Energy | Wind"
- @meta="A wind turbine is a device that converts kinetic energy from the wind into electrical power, pure energy homeowners, pure energy solutions for homeowners, nearby pure energy, pure energies"
#firstPage.section.wind1
  .intro
    = image_tag("wind_infographic_1.jpg", :class => "tiled windinfo", :alt => "Wind Energy Infographic")
    = image_tag("wind_infographic_2.jpg", :class => "tiled windinfo", :alt => "Wind Energy Infographic")
    = image_tag("wind_infographic_3.jpg", :class => "tiled windinfo", :alt => "Wind Energy Infographic")
    = image_tag("wind_infographic_4.jpg", :class => "tiled windinfo", :alt => "Wind Energy Infographic")
    = image_tag("wind_infographic_5.jpg", :class => "tiled windinfo", :alt => "Wind Energy Infographic")
    = image_tag("wind_infographic_6.jpg", :class => "tiled windinfo", :alt => "Wind Energy Infographic")
#secondPage.section.active
  %h1.header Advantages and Disadvantages
  #pro
    .f-col-wrapper
      .col.f-col1
        .icon-wrap
          %h3 Clean
        .col-content.equal-height
          %p Harnessing wind does not create any harmful by-products.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Renewable
        .col-content.equal-height
          %p Wind turbines rely on the renewable and unlimited power of the wind.
    .f-col-wrapper
      .col.f-col3
        .icon-wrap
          %h3 Tax Incentives
        .col-content.equal-height
          %p The power company provides compensation if extra electricity is produced.
  #con
    .f-col-wrapper
      .col.f-col1
        .icon-wrap
          %h3 Initial Cost
        .col-content.equal-height
          %p Upfront costs can be high, especially if the homeowner is looking for a sustainable wind turbine.
    .f-col-wrapper
      .col.f-col2
        .icon-wrap
          %h3 Need Land
        .col-content.equal-height
          %p A turbine can take up a lot of land, so homeowners must have a large plot of land already available.
    .f-col-wrapper
      .col.f-col3
        .icon-wrap
          %h3 Easily Damaged
        .col-content.equal-height
          %p Turbines can be damaged in lightning storms. Additionally, wind turbines have been known to kill birds and other airborne animals.
#thirdPage.section
  .text
    %h1.header Grants
    %h2 Assisted Housing Stability and Energy and Green Retrofit
    %p
      The Housing and Urban Development Department offers a total of $250 million through its Assisted Housing Stability and Energy and Green Retrofit. The grant allows eligible homeowners to invest in energy and green retrofit projects such as wind and solar energy units.
    %h2 USDA Rural Energy for America Program
    %p
      The U.S. Department of Agriculture (USDA) helps farmers, ranchers and homeowners in rural areas (population under 20,000) with grants to buy and install solar, wind and other renewable energy systems. The grants can be used to pay up to 25 percent of a project's cost, up to a maximum of $500,000.
    %h2 Utility Grant Programs
    %p
      Local utility providers also provide grants to homeowners who are willing to invest in solar and wind power generating units. Small wind turbines and solar panels can be used by homes and farms in areas where it is not possible or cost-effective to run power lines. For instance, the Sacramento Municipal Utility District's Residential Loan Program grants 100 percent financing to customers who install solar water-heating systems. The NorthWestern Energy utility in Montana, on the other hand, provides users with the Utility Grant Program. This grant provides incentives of $3 and $2 per watt for solar and energy installations, respectively.
    %h2 State Renewable Energy Grants
    %p
      State governments also provide solar and wind energy grants to eligible homeowners. For instance, the State Grant Program of Colorado provides homeowners with funds to finance renewable energy projects. Projects must start within three months of the grant approval date and have a maximum estimated project duration of eight months.
#fourthPage.section
  .intro
    %h1.header Videos
    %iframe.video{allowfullscreen: "", height: "360", src: "//www.youtube-nocookie.com/embed/lmy23TdhA9E?rel=0&showinfo=0&autohide=1"}
    .video-description
      %p MarketWatch's Stacey Delo talks with San Francisco homeowner Robin Wilson about putting in a wind turbine in an urban area.
    %iframe.video{allowfullscreen: "", height: "360", src: "//www.youtube-nocookie.com/embed/jT8yswXdxFk?rel=0&showinfo=0&autohide=1"}
    .video-description
      %p This video provides an example of an individual who has decided to live off the grid by powering his home using wind turbines.
#fifthPage.section
  %h1.header Cost of Installation
  = image_tag("wind-cost-1.png", :class => "displayimage", :alt => "Wind Cost Infographic")
  %h1.cost-header Average Installation System Cost - 2500 Square Foot Home
  %p.cost-text Please note that the figures are approximate and we would always recommend that you request an on-site assessment before deciding on the right solution for you.
  %table.averagecost
    %tr
      %td
      %td#mobile Parts
      %td Net Cost
      %td Savings
      %td ROI
      %td Payback Years
      %td#mobile 6% Mortgage
      %td#mobile Cash Flow
    %tr
      %td 10kW 120 Feet
      %td#mobile $57,000
      %td $39,900
      %td $200
      %td 6.0%
      %td 16.6
      %td#mobile $239
      %td#mobile $39
    %tr
      %td 1.7kW 35 Feet
      %td#mobile $13,000
      %td $9,100
      %td $35
      %td 4.6%
      %td 21.7
      %td#mobile $55
      %td#mobile $20
