<!DOCTYPE html>
<html>
<head>
  <title>Energy Solutions</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		Energy Solutions
	</header>
	<div id='cssmenu'>
	<ul>
	   <li class='active'><a href='index.html'><span>Home</span></a></li>
	   <li class='has-sub'><a href='#'><span>Energy Sources</span></a>
	      <ul>
	         <li><a href='#'><span>Water Energy</span></a></li>
	         <li class='last'><a href='#'><span>Wind Energy</span></a></li>
	      </ul>
	   </li>
	   <li><a href='#'><span>About</span></a></li>
	   <li class='last'><a href='#'><span>Contact</span></a></li>
	</ul>
	</div>
	<div id="carousel">
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
				<div class="item active img">
					<%= link_to image_tag("sample.jpg")%>
				</div>
				<div class="item img">
					<%= link_to image_tag("sample2.png")%>
				</div>
			</div>
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</div>
	<script>
		$('#myCarousel').carousel();
	</script>
	<%= yield %>
	<footer>
		Copyright 2013. All Rights Reserved.
	</footer>
</body>
</html>
