<!DOCTYPE html>
<html>
<head>
  <title>Energy Solutions</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta content = "yes" name = "apple-mobile-web-app-capable"/>
	<meta content = "initial-scale=1" user-scalable="no" name = "viewport"/>
	<meta content = "black" name = "apple-mobile-web-app-status-bar-style"/>
  <link href='http://fonts.googleapis.com/css?family=Oldenburg|Lato' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>Energy Solutions
	<p class="search">
		<%= text_field_tag :search, params[:search], :class => "searchbar" %>
		<%= submit_tag "Search", :class => "button blue", :style => "float: none; vertical-align: middle;" %>
	</p>
	</header>
	<div id='cssmenu'>
	<ul>
	   <li class='active'><a href='/'><span>Home</span></a></li>
	   <li class='has-sub'><a href='#'><span>Energy Sources</span></a>
	      <ul>
	         <li><a href='/water/'><span>Hydropower</span></a></li>
	         <li><a href='/wind/'><span>Wind Energy</span></a></li>
	         <li><a href='/solar/'><span>Solar Energy</span></a></li>
	         <li><a href='/geothermal/'><span>Geothermal Energy</span></a></li>
	         <li class='last'><a href='/compare/'><span>Compare Energy Sources</span></a></li>
	      </ul>
	   </li>
	   <li><a href='/about/'><span>About</span></a></li>
	   <li class='last'><a href='/contact/'><span>Contact</span></a></li>
	</ul>
	</div>
	<div id="content">
		<% if !(current_page?(root_path)) and !(current_page?('contents#contact')) and !(current_page?('contents#about'))%>
			<%= render "menu" %>
		<% end %>
		<%= yield %>
	</div>
	<footer>Copyright © Energy Solutions 2013. All Rights Reserved.</footer>
</body>
</html>
